@use 'breakpoints' as *;

/* -----------------------------------
  components
----------------------------------- */

/* components > c-faq-list
----------------------------------- */

.c-faq-list {
  display: grid;
  gap: 24px;
  padding: 0;
}

.c-faq-item {
  padding-block: 24px;
  padding-inline: 24px;
  border-radius: 10px;
  background-color: var(--color-white);
}

.c-faq-description-list {
  display: grid;
  gap: 16px;

  dt {
    padding-inline-start: calc(23px + 8px);
    color: var(--color-main);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.55;
    position: relative;

    &::before {
      content: "";
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: var(--color-main);
      position: absolute;
      top:  0;
      left: 0;
    }

    &::after {
      content: "Q";
      color: var(--color-white);
      position: absolute;
      top: -1px;
      left: 5px;
    }
  }

  dd {
    display: grid;
    gap: 16px;
    padding-block-start: 16px;
    background-image : linear-gradient(to right, #CCAD8F, #CCAD8F 2px, transparent 2px, transparent 10px);
    background-size: 10px 2px;
    background-position: left top;
    background-repeat: repeat-x;

    span {
      display: block;
      max-width: 720px;
    }
  }
}

@include mq() {
  .c-faq-list {
    gap: 32px;
  }

  .c-faq-item {
    padding-block: 32px;
    padding-inline: 32px;
  }

  .c-faq-description-list {
    gap: 20px;
    dt {
      padding-inline-start: calc(25px + 12px);
      font-size: 18px;

      &::before {
        width: 25px;
        height: 25px;
      }
    }

    dd {
      padding-block-start: 20px;
      // padding-inline-start: calc(25px + 12px);
    }
  }
}
