---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
---

<section class="lesson-studio">
  <div class="l-container">
    <div class="lesson-studio-section l-section">
      <div class="lesson-studio-title-lv2">
        <PageTitleLv2 pageTitle="教室・クラス紹介" />
      </div>
      <div class="l-section-body">
        <div class="lesson-studio-cards">
          <section class="lesson-studio-card">
            <h3 class="lesson-studio-title-lv3">江古田教室</h3>
            <div class="lesson-studio-content">
              <div class="lesson-studio-class">
                <h4 class="lesson-studio-title-lv4">ケイキクラス</h4>
                <ul class="lesson-studio-list">
                  <li class="lesson-studio-item">
                    <dl class="lesson-studio-description-list">
                      <div class="lesson-studio-description-item">
                        <dt aria-label="曜日">
                          <img src="/assets/images/lesson/icon-lesson-studio-date.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>第1・2・3月曜日</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>初級　16:45〜17:45</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>中級　17:45〜18:45</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="受講料（月額）">
                          <img src="/assets/images/lesson/icon-lesson-studio-yen.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>月3回 / 5,000円</dd>
                      </div>
                    </dl>
                  </li>
                </ul>
              </div>
              <div class="lesson-studio-class">
                <h4 class="lesson-studio-title-lv4">ワヒネ･クプナクラス</h4>
                <ul class="lesson-studio-list">
                  <li class="lesson-studio-item">
                    <dl class="lesson-studio-description-list">
                      <div class="lesson-studio-description-item">
                        <dt aria-label="曜日">
                          <img src="/assets/images/lesson/icon-lesson-studio-date.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>第1・2・3月曜日</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>初級~中級　19:00〜20:00</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="受講料（月額）">
                          <img src="/assets/images/lesson/icon-lesson-studio-yen.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>月3回 / 5,500円</dd>
                      </div>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="lesson-studio-card">
            <h3 class="lesson-studio-title-lv3">練馬教室</h3>
            <div class="lesson-studio-content">
              <div class="lesson-studio-class">
                <h4 class="lesson-studio-title-lv4">親子フラ</h4>
                <ul class="lesson-studio-list">
                  <li class="lesson-studio-item">
                    <dl class="lesson-studio-description-list">
                      <div class="lesson-studio-description-item">
                        <dt aria-label="曜日">
                          <img src="/assets/images/lesson/icon-lesson-studio-date.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>第1・2・3金曜日</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>初級　10:00〜11:00</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>中級　11:00〜12:00</dd>
                      </div>
                      <div class="lesson-studio-description-item lesson-studio-description-item--parent-and-child">
                        <dt aria-label="受講料（月額）">
                          <img src="/assets/images/lesson/icon-lesson-studio-yen.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>
                          月3回 / 7,500円（親子1組）
                          <span>※3名様以上はお1人につき +2,500円</span>
                        </dd>
                      </div>
                    </dl>
                  </li>
                </ul>
              </div>
              <div class="lesson-studio-class">
                <h4 class="lesson-studio-title-lv4">ワヒネ･クプナクラス</h4>
                <ul class="lesson-studio-list">
                  <li class="lesson-studio-item">
                    <dl class="lesson-studio-description-list">
                      <div class="lesson-studio-description-item">
                        <dt aria-label="曜日">
                          <img src="/assets/images/lesson/icon-lesson-studio-date.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>第1・2・3木曜日</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>初級~中級　10:30〜11:45</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="受講料（月額）">
                          <img src="/assets/images/lesson/icon-lesson-studio-yen.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>月3回 / 6,000円</dd>
                      </div>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="lesson-studio-card">
            <h3 class="lesson-studio-title-lv3">中野教室</h3>
            <div class="lesson-studio-content">
              <div class="lesson-studio-class">
                <h4 class="lesson-studio-title-lv4">ケイキクラス</h4>
                <ul class="lesson-studio-list">
                  <li class="lesson-studio-item">
                    <dl class="lesson-studio-description-list">
                      <div class="lesson-studio-description-item">
                        <dt aria-label="曜日">
                          <img src="/assets/images/lesson/icon-lesson-studio-date.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>月2回 土曜日</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>初級　11:00〜12:00</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>中級　12:00〜13:00</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="受講料（月額）">
                          <img src="/assets/images/lesson/icon-lesson-studio-yen.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>月2回 / 4,500円</dd>
                      </div>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="lesson-studio-card">
            <h3 class="lesson-studio-title-lv3">広町みらい公園講座</h3>
            <div class="lesson-studio-content">
              <div class="lesson-studio-class">
                <h4 class="lesson-studio-title-lv4">笑顔でおどるケイキフラ講座</h4>
                <ul class="lesson-studio-list">
                  <li class="lesson-studio-item">
                    <dl class="lesson-studio-description-list">
                      <div class="lesson-studio-description-item">
                        <dt aria-label="曜日">
                          <img src="/assets/images/lesson/icon-lesson-studio-date.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>月2回 土曜日</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="時間">
                          <img src="/assets/images/lesson/icon-lesson-studio-time.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>10:00〜10:45</dd>
                      </div>
                      <div class="lesson-studio-description-item">
                        <dt aria-label="受講料（都度払い）">
                          <img src="/assets/images/lesson/icon-lesson-studio-yen.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                        </dt>
                        <dd>1回 / 1,500円</dd>
                      </div>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <div class="lesson-studio-admission-fee">
          <dl class="lesson-studio-admission-fee-list">
            <dt>入会金</dt>
            <dd>3,000円</dd>
          </dl>
          <p class="lesson-studio-admission-fee-note">広町みらい公園講座は入会金不要</p>
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .lesson-studio-section {
    padding-block-start: 0;
  }

  .lesson-studio-title-lv2 {
    text-align: center;
  }

  .lesson-studio-cards {
    display: grid;
    gap: 40px;
  }

  .lesson-studio-card {
    padding-block: 24px;
    padding-inline: 24px;
    border-radius: 10px;
    background-image: url(/assets/images/lesson/bg-lesson-studio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // box-shadow: 4px 4px 20px rgb(0 0 0 / .18);
  }

  .lesson-studio-title-lv3 {
    color: var(--color-main);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .12em;
    line-height: 1.5;
  }

  .lesson-studio-content {
    display: grid;
    gap: 28px;
    margin-block-start: 24px;
  }

  .lesson-studio-title-lv4 {
    padding-inline-start: calc(4px + 10px);
    font-size: 18px;
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 21px;
      background-color: var(--color-bg-blue);
      position: absolute;
      top: 4px;
      left: 0;
    }
  }

  .lesson-studio-list {
    margin-block-start: 8px;
    padding: 0;
  }

  .lesson-studio-description-list {
    display: grid;
    gap: 4px;
  }

  .lesson-studio-description-item {
    display: grid;
    grid-template-columns: 18px 1fr;
    gap: 8px;

    dt {
      margin-block-start: 4px;

      img {
        width: 18px;
      }
    }

    &--parent-and-child {
      dd {
        span {
          display: block;
          font-size: 14px;
        }
      }
    }
  }

  .lesson-studio-admission-fee {
    margin-block-start: 32px;
    text-align: center;
  }

  .lesson-studio-admission-fee-list {
    display: flex;
    justify-content: center;
    gap: .75em;
    font-size: 20px;
  }

  .lesson-studio-admission-fee-note {
    margin-block-start: 4px;
    font-size: 12px;

    &::before {
      content: "※";
    }
  }

  @include mq() {
    .lesson-studio-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(32px, calc(48 / 1280 * 100vw), 48px);
    }

    .lesson-studio-card {
      padding-block: 32px;
      padding-inline: 32px;
    }

    .lesson-studio-title-lv3 {
      font-size: 24px;
    }

    .lesson-studio-content {
      gap: 32px;
      margin-block-start: 28px;
    }

    .lesson-studio-title-lv4 {
      padding-inline-start: calc(4px + 12px);
      font-size: 20px;

      &::before {
        height: 23px;
        top: 6px;
      }
    }

    .lesson-studio-list {
      margin-block-start: 10px;
    }

    .lesson-studio-description-list {
      display: grid;
      gap: 6px;
    }

    .lesson-studio-description-item {
      grid-template-columns: 20px 1fr;
      gap: 10px;
      font-size: 18px;

      dt {
        margin-block-start: 5px;

        img {
          width: 20px;
        }
      }

      &--parent-and-child {
        dd {
          span {
            font-size: 16px;
          }
        }
      }
    }

    .lesson-studio-admission-fee {
      margin-block-start: 56px;
    }

    .lesson-studio-admission-fee-list {
      font-size: 24px;
    }

    .lesson-studio-admission-fee-note {
      margin-block-start: 8px;
      font-size: 14px;
    }
  }
</style>
