---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
---

<section class="lesson-flow">
  <div class="l-container">
    <div class="l-section">
      <div class="lesson-flow-title-lv2">
        <PageTitleLv2 pageTitle="レッスンの流れ" />
      </div>
      <div class="l-section-body">
        <ol class="lesson-flow-list">
          <li class="lesson-flow-item">
            <dl class="lesson-flow-description-list">
              <dt>
                <span class="lesson-flow-number">1.</span>
                <span class="lesson-flow-term">Oli</span>
              </dt>
              <dd>ハワイの祈りの言葉を詠唱します。体験時は歌詞をお配りします。</dd>
            </dl>
          </li>
          <li class="lesson-flow-item">
            <dl class="lesson-flow-description-list">
              <dt>
                <span class="lesson-flow-number">2.</span>
                <span class="lesson-flow-term">体操</span>
              </dt>
              <dd>ハワイのゆったりとした曲に合わせて、体を動かします。</dd>
            </dl>
          </li>
          <li class="lesson-flow-item">
            <dl class="lesson-flow-description-list">
              <dt>
                <span class="lesson-flow-number">3.</span>
                <span class="lesson-flow-term">ベーシック</span>
              </dt>
              <dd>フラを踊るための基礎となる姿勢や、ステップ、ハンドモーションなどを練習します。</dd>
            </dl>
          </li>
          <li class="lesson-flow-item">
            <dl class="lesson-flow-description-list">
              <dt>
                <span class="lesson-flow-number">4.</span>
                <span class="lesson-flow-term">課題曲</span>
              </dt>
              <dd>新しく習得に取り組む課題曲を練習します。</dd>
            </dl>
          </li>
          <li class="lesson-flow-item">
            <dl class="lesson-flow-description-list">
              <dt>
                <span class="lesson-flow-number">5.</span>
                <span class="lesson-flow-term">復習曲</span>
              </dt>
              <dd>以前に習得した曲を、復習します。</dd>
            </dl>
          </li>
        </ol>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .lesson-flow {
    background-color: var(--color-bg-skyblue);
  }

  .lesson-flow-title-lv2 {
    text-align: center;
  }

  .lesson-flow-list {
    display: grid;
    gap: 18px;
    width: fit-content;
    padding: 0;
    margin-inline: auto;
  }

  .lesson-flow-description-list {
    display: grid;
    gap: 4px;

    dt {
      color: var(--color-bg-blue);
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .02em;
    }
  }

  .lesson-flow-number {
    font-size: 21px;
  }

  @include mq() {
    .lesson-flow-list {
      gap: 20px;
    }

    .lesson-flow-description-list {
      dt {
        color: var(--color-bg-blue);
        font-size: 20px;
      }

    }

    .lesson-flow-number {
      font-size: 23px;
    }
  }

  @media screen and (min-width: 1024px) {
    .lesson-flow-description-list {
      grid-template-columns: 130px 1fr;
      align-items: center;
      gap: 32px;
    }
  }
</style>
