---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
---

<section class="lesson-overview">
  <div class="l-container">
    <div class="l-section">
      <div class="lesson-overview-title-lv2">
        <PageTitleLv2 pageTitle="レッスン概要" />
      </div>
      <div class="l-section-body">
        <div class="lesson-overview-cards">
          <article class="lesson-overview-card">
            <h3 class="lesson-overview-title-lv3">ワヒネ・クプナクラス<span>（大人クラス）</span></h3>
            <div class="lesson-overview-image">
              <img src="/assets/images/lesson/pic-lesson-overview-04.webp" alt="ワヒネ・クプナクラス（大人クラス）のレッスン風景" loading="lazy" decoding="async" width="1080" height="720">
            </div>
            <dl class="lesson-overview-list">
              <div class="lesson-overview-item">
                <dt>特徴</dt>
                <dd>初心者の方も安心して参加できる、大人向けのクラスです。<br>一人ひとりのペースを大切にしながらレッスンを進めるため、初めての方も無理なく続けられます。<br>仲間と支え合いながら、楽しくフラを学べる温かな雰囲気も魅力です。</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>対象</dt>
                <dd>一般（年齢不問）</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>場所</dt>
                <dd>江古田・練馬教室</dd>
              </div>
            </dl>
          </article>
          <article class="lesson-overview-card">
            <h3 class="lesson-overview-title-lv3">ケイキクラス<span>（子供クラス）</span></h3>
            <div class="lesson-overview-image">
              <img src="/assets/images/lesson/pic-lesson-overview-03.webp" alt="ケイキクラス（子供クラス）のレッスン風景" loading="lazy" decoding="async" width="1080" height="720">
            </div>
            <dl class="lesson-overview-list">
              <div class="lesson-overview-item">
                <dt>特徴</dt>
                <dd>学年を超えて和気あいあい。仲間と共にフラを学ぶ中で、協調性や思いやりも育まれていきます。<br>年齢の異なる子どもたちが関わり合いながら成長できるところも、アロヒラニの魅力のひとつです。</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>対象</dt>
                <dd>5歳〜小学生</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>場所</dt>
                <dd>江古田・練馬・中野教室</dd>
              </div>
            </dl>
          </article>
          <article class="lesson-overview-card">
            <h3 class="lesson-overview-title-lv3">親子フラ</h3>
            <div class="lesson-overview-image">
              <img src="/assets/images/lesson/pic-lesson-overview-01.webp" alt="親子フラのレッスン風景" loading="eager" decoding="async" width="1080" height="720">
            </div>
            <dl class="lesson-overview-list">
              <div class="lesson-overview-item">
                <dt>特徴</dt>
                <dd>親子で一緒にフラを楽しめる特別なクラスです。<br>親子で同じ目標に向けて、一緒に練習しながら同じ時間を共有できることが親子フラの魅力です。<br>お子さまの成長を間近で感じながら、ご自身もフラを楽しめます。</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>対象</dt>
                <dd>3歳以上のお子様と保護者</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>場所</dt>
                <dd>練馬教室</dd>
              </div>
            </dl>
          </article>
          <article class="lesson-overview-card">
            <h3 class="lesson-overview-title-lv3">広町みらい公園講座</h3>
            <div class="lesson-overview-image">
              <img src="/assets/images/lesson/pic-lesson-overview-02.webp" alt="広町みらい公園講座のレッスン風景" loading="eager" decoding="async" width="1080" height="720">
            </div>
            <dl class="lesson-overview-list">
              <div class="lesson-overview-item">
                <dt>特徴</dt>
                <dd>入会金不要・1回ごとのお支払いで、気軽にフラを始められる講座です。<br>地域の子どもたちがフラに親しみながら、楽しく学べる場として開催しています。<br>継続して参加すると、年1回の公園イベントへ出演する機会もあります。</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>対象</dt>
                <dd>4歳〜小学生</dd>
              </div>
              <div class="lesson-overview-item">
                <dt>場所</dt>
                <dd>中野教室</dd>
              </div>
            </dl>
          </article>
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .lesson-overview-title-lv2 {
    text-align: center;
  }

  .lesson-overview-cards {
    display: grid;
    gap: 40px;
  }

  .lesson-overview-card {
    padding-block: 24px;
    padding-inline: 24px;
    border-radius: 10px;
    background-color: var(--color-bg-skyblue);
  }

  .lesson-overview-title-lv3 {
    padding-inline-start: calc(4px + 10px);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 21px;
      background-color: var(--color-bg-blue);
      position: absolute;
      top: 4px;
      left: 0;
    }

    span {
      display: inline-block;
      font-size: 16px;
    }
  }

  .lesson-overview-image {
    margin-block-start: 12px;
  }

  .lesson-overview-list {
    display: grid;
    gap: 20px;
    margin-block-start: 24px;
    line-height: 1.8;
  }

  .lesson-overview-item {
    display: grid;
    gap: 6px;

    dt {
      display: grid;
      grid-template-columns: 18px 1fr;
      align-content: start;
      gap: 6px;
      align-items: center;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.55;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        margin-block-end: 1px;
        background-image: url(/assets/images/lesson/icon-lesson-overview-hibiscus.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }

    &:nth-child(2) dt::before {
      background-image: url(/assets/images/lesson/icon-lesson-overview-person.svg);
    }

    &:nth-child(3) dt::before {
      background-image: url(/assets/images/lesson/icon-lesson-overview-location.svg);
    }
  }

  @include mq() {
    .lesson-overview-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(32px, calc(48 / 1280 * 100vw), 48px);
    }

    .lesson-overview-card {
      padding-block: 32px;
      padding-inline: 32px;
    }

    .lesson-overview-title-lv3 {
      padding-inline-start: calc(4px + 12px);
      font-size: 22px;

      &::before {
        height: 25px;
        top: 3px;
      }

      span {
        font-size: 18px;
      }
    }

    .lesson-overview-image {
      margin-block-start: 14px;
    }

    .lesson-overview-list {
      gap: 24px;
      margin-block-start: 32px;
    }

    .lesson-overview-item {
      dt {
        grid-template-columns: 19px 1fr;
        gap: 8px;
        font-size: 17px;

        &::before {
          content: "";
          width: 19px;
          height: 19px;
          margin-block-end: 2px;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .lesson-overview-title-lv3 {
      padding-inline-start: calc(4px + 12px);
      font-size: 24px;

      &::before {
        height: 27px;
        top: 5px;
      }
    }

    .lesson-overview-item {
      dt {
        grid-template-columns: 20px 1fr;
        gap: 8px;
        font-size: 18px;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
        }
      }
    }
  }
</style>
