---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
---

<section class="about-message">
  <div class="l-container">
    <div class="about-message-section l-section">
      <div class="about-message-title-lv2">
        <PageTitleLv2 pageTitle="初めてフラダンスを習う方へ" />
      </div>
      <div class="l-section-body">
        <div class="about-message-description">
          <p class="about-message-text">初心者の方にも、ステップやハンドモーションを基礎からゆっくり丁寧にレッスン。<br>少しずつ体を動かしながら、フラの楽しさを感じていきます。</p>
          <p class="about-message-text">曲によって異なりますが、およそ2〜3ヶ月で１曲を踊れるようにしっかりサポートします。</p>
          <p class="about-message-text">振付の動画やプリントなど、復習できる教材もご用意。<br>不安なところは、レッスン後に気軽に質問できるので安心です。</p>
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .about-message {
    overflow: hidden;
    background-image: url(/assets/images/about/bg-about-message.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 200px;
      height: 160px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      opacity: .3;
      position: absolute;
      z-index: 1;
    }

    &::before {
      background-image: url(../../../public/assets/images/global/icon-hibiscus-02.svg);
      bottom: -10px;
      left: -10px;
    }

    &::after {
      background-image: url(../../../public/assets/images/global/icon-hibiscus-03.svg);
      top: -10px;
      right: -20px;
    }
  }

  .about-message-section {
    position: relative;
    z-index: 10;
  }

  .about-message-title-lv2 {
    text-align: center;
  }

  .about-message-description {
    display: grid;
    gap: 1.25em;
    width: fit-content;
    margin-inline: auto;
    line-height: 2;
  }

  @include mq() {
    .about-message {
      &::before,
      &::after {
        width: 300px;
        height: 240px;
        transform: translateX(-50%);
      }

      &::before {
        left: calc(50% - 320px);
      }

      &::after {
        top: -20px;
        right: auto;
        left: calc(50% + 320px);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .about-message {
      &::before,
      &::after {
        width: 350px;
        height: 280px;
      }

      &::before {
        bottom: -30px;
        left: calc(50% - 420px);
      }

      &::after {
        top: -40px;
        right: auto;
        left: calc(50% + 420px);
      }
    }
  }
</style>
