---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
---

<section class="about-features">
  <div class="l-container">
    <div class="l-section">
      <div class="about-features-title-lv2">
        <PageTitleLv2 pageTitle="アロヒラニってどんな教室？" />
      </div>
      <div class="l-section-body">
        <div class="about-features-cards">
          <section class="about-features-cards-item">
            <div class="about-features-title-lv3">
              <span class="about-features-title-lv3-number">Point 01</span>
              <h3 class="about-features-title-lv3-title">通いやすさ</h3>
            </div>
            <p class="about-features-text">忙しい方や子育て中の方も安心して通っていただけます。</p>
            <ul class="about-features-list">
              <li class="about-features-item">駅チカ 徒歩５分以内</li>
              <li class="about-features-item">月3回レッスンで無理なく通える</li>
            </ul>
          </section>
          <section class="about-features-cards-item">
            <div class="about-features-title-lv3">
              <span class="about-features-title-lv3-number">Point 02</span>
              <h3 class="about-features-title-lv3-title">ハワイの文化で過ごす時間</h3>
            </div>
            <p class="about-features-text">アロヒラニの仲間はオハナ（家族）。<br>名前で呼び合う文化で、レッスン後は「今日も楽しかった」とのお声をいただいています。</p>
            <ul class="about-features-list">
              <li class="about-features-item">同年代同士だけでなく、年齢を超えた交流</li>
              <li class="about-features-item">アットホームな雰囲気で楽しく踊れる</li>
              <li class="about-features-item">ハワイの言葉や文化も学べる</li>
            </ul>
          </section>
          <section class="about-features-cards-item">
            <div class="about-features-title-lv3">
              <span class="about-features-title-lv3-number">Point 03</span>
              <h3 class="about-features-title-lv3-title">挑戦できる環境</h3>
            </div>
            <p class="about-features-text">希望者はイベントに参加して踊ることができます。<br>仲間と踊る時間は、フラの魅力をさらに強く感じる特別な体験です。</p>
            <ul class="about-features-list">
              <li class="about-features-item">仲間とともにステージへ</li>
              <li class="about-features-item">少人数制で1人1人をサポート</li>
              <li class="about-features-item">自分のペースで上達</li>
            </ul>
          </section>
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .about-features-cards {
    display: grid;
    gap: 32px;
  }

  .about-features-cards-item {
    padding-block: 24px;
    padding-inline: 24px;
    border-radius: 10px;
    background-color: var(--color-bg-skyblue);
  }

  .about-features-title-lv3 {
    display: grid;
    gap: 12px;
    font-weight: 700;
  }

  .about-features-title-lv3-number {
    width: fit-content;
    padding-block: 6px;
    padding-inline: 10px;
    background-color: var(--color-main);
    color: var(--color-white);
    font-size: 12px;
    letter-spacing: -.02em;
    line-height: 1;
  }

  .about-features-title-lv3-title {
    display: grid;
    grid-template-columns: 22px 1fr;
    gap: 8px;
    font-size: 20px;
    line-height: 1.5;

    &::before {
      content: "";
      width: 22px;
      height: 22px;
      margin-block-start: 3px;
      background-image: url(/assets/images/global/icon-hibiscus.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }

  .about-features-text {
    margin-block-start: 1em;
  }

  .about-features-list {
    display: grid;
    gap: .5em;
    padding: 0;
    margin-block-start: 1em;
  }

  .about-features-item {
    display: grid;
    grid-template-columns: 4px 1fr;
    gap: .5em;
    padding-inline-start: .5em;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-block-start: 12px;
      background-color: var(--color-base);
    }
  }

  @include mq() {
    .about-features-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 48px;
      gap: clamp(32px, calc(32 / 768 * 100vw), 48px);
    }

    .about-features-cards-item {
      padding-block: 32px;
      padding-inline: 32px;
    }

    .about-features-title-lv3 {
      gap: 14px;
    }

    .about-features-title-lv3-number {
      padding-block: 8px;
      padding-inline: 12px;
      font-size: 14px;
    }
  }

  @media screen and (min-width: 1024px) {
    .about-features-cards {
      grid-template-columns: repeat(3, 1fr);
      gap: min(48px, calc(48 / 1280 * 100vw));
    }
  }
</style>
