---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
---

<section class="about-parent-and-child">
  <div class="l-container">
    <div class="about-parent-and-child-section l-section">
      <div class="about-parent-and-child-title-lv2">
        <PageTitleLv2 pageTitle="親子フラで特別な時間を" />
      </div>
      <div class="about-parent-and-child-section-body l-section-body">
        <div class="about-parent-and-child-wrapper">
          <section class="about-parent-and-child-content">
            <h3 class="about-parent-and-child-title-lv3">親子で楽しめる、特別な時間</h3>
            <div class="about-parent-and-child-description">
              <p class="about-parent-and-child-text">「習い事をしたいけれど、子どもの預け先がない…」<br>そんな方にも、親子フラならお子さんと一緒に通っていただけます。</p>
              <p class="about-parent-and-child-text">親子で同じ時間を過ごしながら、自然と笑顔や会話も増えていきます。</p>
            </div>
          </section>
          <section class="about-parent-and-child-content">
            <h3 class="about-parent-and-child-title-lv3">親子で一緒に成長できる</h3>
            <div class="about-parent-and-child-description">
              <ul class="about-parent-and-child-list">
                <li class="about-parent-and-child-item">ステップを覚える楽しさ</li>
                <li class="about-parent-and-child-item">一緒に練習する時間</li>
                <li class="about-parent-and-child-item">発表会やイベントの特別な思い出</li>
              </ul>
              <p class="about-parent-and-child-text">親子でステージに立つ経験は、かけがえのない宝物になります。</p>
            </div>
          </section>
          <section class="about-parent-and-child-content">
            <h3 class="about-parent-and-child-title-lv3">ママも、自分を大切にする時間を</h3>
            <div class="about-parent-and-child-description">
              <p class="about-parent-and-child-text">フラを続けることで、</p>
              <ul class="about-parent-and-child-list">
                <li class="about-parent-and-child-item">姿勢改善</li>
                <li class="about-parent-and-child-item">代謝アップ</li>
                <li class="about-parent-and-child-item">リフレッシュ</li>
              </ul>
              <p class="about-parent-and-child-text">にもつながります。</p>
              <p class="about-parent-and-child-text">育児に忙しい毎日の中でも、「自分らしく輝ける時間」を楽しめます。</p>
            </div>
          </section>
          <section class="about-parent-and-child-content">
            <h3 class="about-parent-and-child-title-lv3">お子さまの成長にも</h3>
            <div class="about-parent-and-child-description">
              <p class="about-parent-and-child-text">フラを通して、</p>
              <ul class="about-parent-and-child-list">
                <li class="about-parent-and-child-item">笑顔</li>
                <li class="about-parent-and-child-item">体力</li>
                <li class="about-parent-and-child-item">リズム感</li>
                <li class="about-parent-and-child-item">協調性</li>
              </ul>
              <p class="about-parent-and-child-text">も自然と育まれます。</p>
              <p class="about-parent-and-child-text">お子さまの成長を間近で感じられることも、親子フラならではの魅力です。</p>
            </div>
          </section>
        </div>
        <div class="about-parent-and-child-image">
          <img src="../../../public/assets/images/about/pic-about-parent-and-child.webp" alt="" loading="lazy" decoding="async" width="1312" height="1058">
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .about-parent-and-child-section {
    padding-block-start: 0;
  }

  .about-parent-and-child-section-body {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-parent-and-child-wrapper {
    display: grid;
    gap: 32px;
  }

  .about-parent-and-child-title-lv3 {
    grid-template-columns: 5px 1fr;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    &::before {
      width: 5px;
      height: 23px;
      margin-block-start: 3px;
      background-color: var(--color-bg-skyblue);
    }
  }

  .about-parent-and-child-description {
    display: grid;
    gap: .5em;
    margin-block-start: .75em;
  }

  .about-parent-and-child-list {
    padding: 0;
  }

  .about-parent-and-child-item {
    display: grid;
    grid-template-columns: 4px 1fr;
    gap: .5em;
    padding-inline-start: .5em;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-block-start: 9px;
      background-color: var(--color-base);
    }
  }

  .about-parent-and-child-image {
    img {
      max-width: 480px;
    }
  }

  @include mq() {
    .about-parent-and-child-section-body {
      gap: 48px;
    }

    .about-parent-and-child-title-lv3 {
      font-size: 18px;
    }

    .about-parent-and-child-item {
      &::before {
        margin-block-start: 11px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .about-parent-and-child-section-body {
      flex-direction: row;
      gap: 40px;
    }

    .about-parent-and-child-wrapper {
      width: calc((100% - 40px) / 2);
    }

    .about-parent-and-child-image {
      width: calc((100% - 40px) / 2);

      img {
        max-width: 100%;
      }
    }
  }
</style>
