---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/common/PageKv.astro";
import AboutThoughts from "../components/about/AboutThoughts.astro";
import AboutProfile from "../components/about/AboutProfile.astro";
import AboutFeatures from "../components/about/AboutFeatures.astro";
import AboutPurpose from "../components/about/AboutPurpose.astro";
import AboutMessage from "../components/about/AboutMessage.astro";
import Cta from "../components/common/Cta.astro";

---

<Layout
  title="所沢市のホームページ制作｜設計で成果につなげるWeb制作｜鈴鹿Web制作"
  ogType="website"
  description="埼玉県所沢市を拠点に、成果につながるホームページを設計・制作。コンテンツ・導線・運用まで一貫して設計し、公開後の改善まで見据えたWeb制作をご提案します。"
  noIndex="true"
>
  <main class="about">
    <!-- about-kv -->
    <div class="about-kv">
      <PageKv
        pageTitle="アロヒラニについて"
        pageTitleImagePath="/assets/images/text/text-page-title-about.svg"
        pageTitleImageWidth="176"
        pageTitleImageHeight="46"
      />
    </div>

    <!-- about-thoughts -->
    <AboutThoughts />

    <!-- about-profile -->
    <AboutProfile />

    <!-- about-features -->
    <AboutFeatures />

    <!-- about-purpose -->
    <AboutPurpose />

    <!-- about-message -->
    <AboutMessage />

  </main>

  <!-- cta -->
  <Cta />
</Layout>
