---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/common/PageKv.astro";
import PageTitleLv2 from "../components/common/PageTitleLv2.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro";
import Cta from "../components/common/Cta.astro";
---

<Layout
  title="アクセス｜教室一覧・アクセス情報｜Ka Pā Hula O Alohilani"
  ogType="website"
  description="江古田教室・練馬教室・中野教室のアクセス情報をご案内します。最寄駅や所在地、周辺の駐輪場・駐車場情報もご確認いただけます。"
>
  <main class="access">
    <div class="access-kv">
      <PageKv
        pageTitle="アクセス"
        pageTitleEnglish="ACCESS"
        pageTitleImagePath="/assets/images/text/text-page-title-access.svg"
        pageTitleImageWidth="132"
        pageTitleImageHeight="46"
      />
    </div>

    <section class="access-content">
      <div class="l-container-s">
        <div class="l-section">
          <div class="access-title-lv2">
            <PageTitleLv2 pageTitle="アクセス・近隣情報"/>
          </div>
          <div class="l-section-body">
            <div class="access-cards">
              <section class="access-card">
                <a href="https://maps.app.goo.gl/CRyJ6XFJVcyCu1qVA" target="_blank" rel="noopener noreferrer" class="access-link">
                  <h3 class="access-title-lv3">江古田教室</h3>
                  <div class="access-body">
                    <div class="access-description">
                      <div class="access-list">
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-building.svg" alt="" loading="eager" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">建物・施設名</h4>
                          </div>
                          <p class="access-text">小竹地域集会所</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-location.svg" alt="" loading="eager" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">所在地</h4>
                          </div>
                          <p class="access-text">東京都練馬区小竹町1-63-2</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-walking.svg" alt="" loading="eager" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">最寄駅からの所要時間</h4>
                          </div>
                          <p class="access-text">西武池袋線 江古田駅北口徒歩3分</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-car-parking.svg" alt="" loading="eager" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">駐車場</h4>
                          </div>
                          <div class="access-list-item-body">
                            <p class="access-text">ラクピー江古田駅前第一</p>
                            <dl class="access-description-list">
                              <div class="access-description-list-item">
                                <dt>所在地</dt>
                                <dd>練馬区栄町33-11</dd>
                              </div>
                              <div class="access-description-list-item">
                                <dt>料金&emsp;</dt>
                                <dd>300円/1時間</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-bike-parking.svg" alt="" loading="eager" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">駐輪場</h4>
                          </div>
                          <p class="access-text">建物・施設に併設の駐輪場有り</p>
                        </div>
                      </div>
                    </div>
                    <div class="access-map">
                      <img src="/assets/images/access/pic-access-map-01.webp" alt="" loading="eager" decoding="async" width="1020" height="680">
                    </div>
                  </div>
                  <p class="access-button">Googleマップで開く</p>
                </a>
              </section>
              <section class="access-card">
                <a href="https://maps.app.goo.gl/pvDfToxfp7FsRvd59" target="_blank" rel="noopener noreferrer" class="access-link">
                  <h3 class="access-title-lv3">練馬教室</h3>
                  <div class="access-body">
                    <div class="access-description">
                      <div class="access-list">
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-building.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">建物・施設名</h4>
                          </div>
                          <p class="access-text">studio HEORUM</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-location.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">所在地</h4>
                          </div>
                          <p class="access-text">東京都練馬区練馬1-19-2 Nerikitaビル</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-walking.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">最寄駅からの所要時間</h4>
                          </div>
                          <p class="access-text">西武池袋線 練馬駅北口徒歩0分</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-car-parking.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">駐車場</h4>
                          </div>
                          <div class="access-list-item-body">
                            <p class="access-text">練馬駅北口駐車場</p>
                            <dl class="access-description-list">
                              <div class="access-description-list-item">
                                <dt>所在地</dt>
                                <dd>練馬区練馬1-17-5</dd>
                              </div>
                              <div class="access-description-list-item">
                                <dt>料金&emsp;</dt>
                                <dd>200円/30分</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-bike-parking.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">駐輪場</h4>
                          </div>
                          <div class="access-list-item-body">
                            <p class="access-text">練馬駅つつじ自転車駐車場</p>
                            <dl class="access-description-list">
                              <div class="access-description-list-item">
                                <dt>所在地</dt>
                                <dd>練馬区練馬1-19-7</dd>
                              </div>
                              <div class="access-description-list-item">
                                <dt>料金&emsp;</dt>
                                <dd>100円/8時間（最初の2時間無料）</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="access-map">
                      <img src="/assets/images/access/pic-access-map-02.webp" alt="" loading="lazy" decoding="async" width="1020" height="680">
                    </div>
                  </div>
                  <p class="access-button">Googleマップで開く</p>
                </a>
              </section>
              <section class="access-card">
                <a href="https://maps.app.goo.gl/fPx3gsWe7GQpbu959" target="_blank" rel="noopener noreferrer" class="access-link">
                  <h3 class="access-title-lv3">中野教室<span>（広町みらい公園講座）</span></h3>
                  <div class="access-body">
                    <div class="access-description">
                      <div class="access-list">
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-building.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">建物・施設名</h4>
                          </div>
                          <p class="access-text">広町みらい公園 1F</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-location.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">所在地</h4>
                          </div>
                          <p class="access-text">東京都中野区弥生町6-1-7</span></p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-walking.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">最寄駅からの所要時間</h4>
                          </div>
                          <p class="access-text">地下鉄丸ノ内線 方南町駅2番出口徒歩5分</p>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-car-parking.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">駐車場</h4>
                          </div>
                          <div class="access-list-item-body">
                            <p class="access-text">ホームズ中野</p>
                            <dl class="access-description-list">
                              <div class="access-description-list-item">
                                <dt>所在地</dt>
                                <dd>中野区南台5-24</dd>
                              </div>
                              <div class="access-description-list-item">
                                <dt>料金&emsp;</dt>
                                <dd>最初の1時間無料<br>1時間以降330円/30分</dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="access-list-item">
                          <div class="access-title-lv4">
                            <div class="access-title-lv4-image">
                              <img src="/assets/images/access/icon-access-bike-parking.svg" alt="" loading="lazy" decoding="async" width="24" height="24">
                            </div>
                            <h4 class="access-title-lv4-text">駐輪場</h4>
                          </div>
                          <p class="access-text">建物・施設に併設の駐輪場有り</p>
                        </div>
                      </div>
                    </div>
                    <div class="access-map">
                      <img src="/assets/images/access/pic-access-map-03.webp" alt="" loading="lazy" decoding="async" width="1020" height="680">
                    </div>
                  </div>
                  <p class="access-button">Googleマップで開く</p>
                </a>
              </section>
            </div>
          </div><!-- /.l-section-body -->
        </div><!-- /.l-section -->
      </div><!-- /.l-container -->
    </section>

    <!-- breadcrumb -->
    <Breadcrumb
      siteUrl="https://alohilani-hula.com"
      breadcrumbLists={[{ name: "アクセス", schemaName: "アクセス" }]}
    />
  </main>

  <!-- cta -->
  <Cta />
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .access-title-lv2 {
    text-align: center;
  }

  .access-cards {
    display: grid;
    gap: 40px;
  }

  .access-card {
    border-radius: 10px;
    background-color: var(--color-bg-beige);
  }

  .access-link {
    display: block;
    padding-block: 24px;
    padding-inline: 24px;
  }

  .access-title-lv3 {
    display: grid;
    color: var(--color-main);
    font-size: 20px;
    line-height: 1.55;
    text-align: center;

    span {
      font-size: 16px;
    }
  }

  .access-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    margin-block-start: 20px;
    margin-inline: auto;
  }

  .access-list {
    display: grid;
    gap: 8px;
  }

  .access-title-lv4 {
    display: grid;
    grid-template-columns: 18px 1fr;
    align-items: center;
    gap: 4px;
  }

  .access-title-lv4-image {
    img {
      width: 18px;
    }
  }

  .access-text {
    padding-inline-start: calc(18px + 4px);
  }

  .access-description-list {
    display: grid;
    gap: 4px;
    padding-inline-start: calc(18px + 4px);
    margin-block-start: 4px;
  }

  .access-description-list-item {
    display: flex;

    dt {
      flex: 86px 0 0;
      padding-inline-start: calc(1em + 4px);
      position: relative;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: currentColor;
        position: absolute;
        top: 12px;
        left: .5em;
      }

      &::after {
        content: "：";
      }
    }
  }

  .access-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
    padding-block: 6px;
    padding-inline: 20px;
    border-radius: 100px;
    border: 1px solid;
    margin-block-start: 32px;
    margin-inline: auto;
    color: var(--color-main);
    font-size: 12px;

    &::after {
      content: "";
      width: 6px;
      height: 10px;
      margin-block-end: 2px;
      background-color: currentColor;
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }
  }

  @include mq() {
    .access-cards {
      gap: 48px;
    }

    .access-link {
      padding-block: 40px;
      padding-inline: 40px;
    }

    .access-title-lv3 {
      font-size: 24px;

      span {
        font-size: 18px;
      }
    }

    .access-body {
      flex-direction: row-reverse;
      gap: min(40px, calc(40 / 1280 * 100vw));
      max-width: 100%;
      margin-block-start: 40px;
    }

    .access-description {
      width: calc((100% - min(40px, calc(40 / 1280 * 100vw))) / 2);
    }

    .access-map {
      width: calc((100% - min(40px, calc(40 / 1280 * 100vw))) / 2);
    }

    .access-button {
      margin-block-start: 40px;
    }
  }

  @media (any-hover: hover) {
    .access-card {
      transition: filter .5s ease;

      &:hover {
        filter: brightness(90%) contrast(117%);
      }
    }
  }
</style>
