---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/common/PageKv.astro";
import ContactLead from "../components/contact/ContactLead.astro";
import ContactForm from "../components/contact/ContactForm.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro";
import Cta from "../components/common/Cta.astro";
---

<Layout
  title="お問い合わせ｜Ka Pā Hula O Alohilani"
  ogType="website"
  description="レッスンに関するご質問や出張レッスン、イベント出演のご相談など、お気軽にお問い合わせください。"
  noIndex="true"
>
  <main class="contact">
    <!-- contact-kv -->
    <div class="contact-kv">
      <PageKv
        pageTitle="お問い合わせ"
        pageTitleImagePath="/assets/images/text/text-page-title-contact.svg"
        pageTitleImageWidth="163"
        pageTitleImageHeight="46"
      />
    </div>

    <!-- contact-lead -->
    <ContactLead />

    <!-- contact-form -->
    <ContactForm />

    <Breadcrumb
      siteUrl="https://alohilani-hula.com"
      breadcrumbLists={[{ name: "お問い合わせ", schemaName: "お問い合わせ" }]}
    />
  </main>

  <!-- cta -->
  <Cta />
</Layout>
