---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/common/PageKv.astro";
import LessonOverview from "../components/lesson/LessonOverview.astro";
import LessonStudio from "../components/lesson/LessonStudio.astro";
import LessonFlow from "../components/lesson/LessonFlow.astro";
// import Cta from "../components/common/Cta.astro";

---

<Layout
  title="所沢市のホームページ制作｜設計で成果につなげるWeb制作｜鈴鹿Web制作"
  ogType="website"
  description="埼玉県所沢市を拠点に、成果につながるホームページを設計・制作。コンテンツ・導線・運用まで一貫して設計し、公開後の改善まで見据えたWeb制作をご提案します。"
  noIndex="true"
>
  <main class="about">
    <!-- about-kv -->
    <PageKv
      pageTitle="レッスン紹介"
      pageTitleImagePath="/assets/images/text/text-page-title-lesson.svg"
      pageTitleImageWidth="136"
      pageTitleImageHeight="46"
    />

    <!-- lesson-overview -->
    <LessonOverview />

    <!-- lesson-studio -->
    <LessonStudio />

    <!-- lesson-flow -->
    <LessonFlow />

  </main>

  <!-- cta -->
  <!-- <Cta /> -->
</Layout>
