---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/common/PageKv.astro";
import LessonOverview from "../components/lesson/LessonOverview.astro";
import LessonStudio from "../components/lesson/LessonStudio.astro";
import LessonFlow from "../components/lesson/LessonFlow.astro";
import LessonSpecialCourse from "../components/lesson/LessonSpecialCourse.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro";
import Cta from "../components/common/Cta.astro";

---

<Layout
  title="レッスン紹介｜子どもクラス・大人クラス・親子フラ｜Ka Pā Hula O Alohilani"
  ogType="website"
  description="ケイキクラス（子ども）、ワヒネ・クプナクラス（大人）、親子フラクラスなど、アロヒラニのレッスンをご紹介します。初心者の方も安心してご参加いただけます。"
>
  <main class="lesson">
    <!-- lesson-kv -->
    <div class="lesson-kv">
      <PageKv
        pageTitle="レッスン紹介"
        pageTitleImagePath="/assets/images/text/text-page-title-lesson.svg"
        pageTitleImageWidth="136"
        pageTitleImageHeight="46"
      />
    </div>

    <!-- lesson-overview -->
    <LessonOverview />

    <!-- lesson-studio -->
    <LessonStudio />

    <!-- lesson-flow -->
    <LessonFlow />

    <!-- lesson-special-course -->
    <LessonSpecialCourse />

    <!-- breadcrumb -->
    <Breadcrumb
      siteUrl="https://alohilani-hula.com"
      breadcrumbLists={[{ name: "レッスン紹介", schemaName: "レッスン紹介" }]}
    />
  </main>

  <!-- cta -->
  <Cta />
</Layout>
