---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/common/PageKv.astro";
import PageTitleLv2 from "../components/common/PageTitleLv2.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro";
import Cta from "../components/common/Cta.astro";
---

<Layout
  title="生徒様の声｜Ka Pā Hula O Alohilani"
  ogType="website"
  description="アロヒラニに通う生徒様の声をご紹介します。フラを始めたきっかけや教室の雰囲気、続けて感じた変化などをお聞きしました。"
  noIndex="true"
>
  <main class="voice">
    <div class="voice-kv">
      <PageKv
        pageTitle="生徒様の声"
        pageTitleImagePath="/assets/images/text/text-page-title-voice.svg"
        pageTitleImageWidth="102"
        pageTitleImageHeight="46"
      />
    </div>

    <section class="page-voice">
      <div class="l-container-s">
        <div class="l-section">
          <div class="page-voice-title-lv2">
            <PageTitleLv2 pageTitle="生徒様の声"/>
          </div>
          <div class="l-section-body">
            <ul class="page-voice-list">
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">人生を豊かにする贈り物をたくさんいただきました</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">私は、アロヒラニで約10年レッスンを受けています。<br>アロヒラニのフラレッスンから人生を豊かにする贈り物をたくさんいただきました。</p>
                    <p class="page-voice-text">アロハの精神、ハワイ語の意味、そしてその背景にある文化も教えてもらっています。<br>年に何度か発表する機会があり、それを目標に頑張ることができています。</p>
                    <p class="page-voice-text">たくさんのことを学べる素敵な教室です。</p>
                    <span class="page-voice-name">藤井幸子さん（ワヒネ・クプナクラス）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-08.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">アロヒラニのレッスンは、私にとって癒しの時間</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">フラダンスを始めてから、毎日がワクワクするようになりました。<br>ハワイの音楽 に合わせて皆で踊ると、自然と笑顔になってしまいます。</p>
                    <p class="page-voice-text">先生がゆっくり丁寧に教えてくださるので、初心者の私でも少しずつ踊れるようになりました。<br>そして、教室の皆さんがとても優しく、あたたかい空気に包まれながら毎回レッスンが進みます。</p>
                    <p class="page-voice-text">アロヒラニのレッスンは日常の忙しさを忘れられる、私にとって癒しの時間です。<br>これからも大切に続けていきたいです。</p>
                    <span class="page-voice-name">K.M.さん（ワヒネ・クプナクラス）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-07.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">初心者でも毎回レッスンに行くのが本当に楽しみ！</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">入会して間もないのですが、先生や教室の皆さんがとても明るく、親切に接してくださいます。<br>毎回、レッスンに行くのが本当に楽しみです。</p>
                    <p class="page-voice-text">基本のステップや踊る曲の意味なども丁寧に教えていただけるので、とても勉強になっています。<br>イベントも色々あるので、次のイベントに向けて目標ができ、フラを始めてから毎日がとても楽しくなりました。</p>
                    <span class="page-voice-name">M.K.さん（ワヒネ・クプナクラス）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-06.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">子供の習い事なのに、親も楽しい！</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">子供の習い事なのに、親まで楽しくて、オハナって感じが大好きです。</p>
                    <span class="page-voice-name">K.O.さん（ケイキクラス）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-04.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">ハワイの音楽に触れ、親の私が癒やされます</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">娘がフラを習うようになってハワイの音楽に触れ、親の私が癒されています。<br>娘も年数を重ねるごとに楽しくなってきてるようです♫</p>
                    <span class="page-voice-name">C.S.さん（ケイキクラス）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-03.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">発表の機会があるから楽しく続けられる</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">4歳から通っています。明るく和気あいあいとした雰囲気が気に入っています。<br>近隣のお祭りやフェスティバルのステージに立てる機会があり、モチベーションを上げながら頑張っています。</p>
                    <span class="page-voice-name">A.Y.さん（ケイキクラス）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-05.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">親子で成長を感じられる時間</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">子供と目を合わせながら、心で通じ合える感じがとても楽しかったです。<br>子どもから親の私に指導が入ることもあり、子どもの成長の早さを感じられるのは親子フラならではだと思いました。<br>なかなか体を動かす機会もないので、とても良い運動になっています。</p>
                    <span class="page-voice-name">A.Y.さん（親子フラ）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-01.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
              <li class="page-voice-item">
                <div class="page-voice-content">
                  <h3 class="page-voice-title-lv3">親子の絆が深まります</h3>
                  <div class="page-voice-description">
                    <p class="page-voice-text">親子の絆が深まり、楽しい時間が作れて嬉しいです。</p>
                    <span class="page-voice-name">C.S.さん（親子フラ）</span>
                  </div>
                </div>
                <div class="page-voice-illust">
                  <img src="/assets/images/voice/illust-voice-02.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
                </div>
              </li>
            </ul>
          </div><!-- /.l-section-body -->
        </div><!-- /.l-section -->
      </div><!-- /.l-container-s -->
    </section>

    <!-- breadcrumb -->
    <Breadcrumb
      siteUrl="https://alohilani-hula.com"
      breadcrumbLists={[{ name: "生徒様の声", schemaName: "生徒様の声" }]}
    />
  </main>

  <!-- cta -->
  <Cta />
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .page-voice {
    background-image: url(/assets/images/top/bg-page-voice.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .page-voice-title-lv2 {
    text-align: center;
  }

  .page-voice-list {
    display: grid;
    gap: 32px;
    padding: 0;
  }

  .page-voice-item {
    padding-block: 24px;
    padding-inline: 24px;
    border-radius: 10px;
    border: 1px solid var(--color-brown);
  }

  .page-voice-title-lv3 {
    color: var(--color-brown);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  .page-voice-description {
    display: grid;
    gap: 1em;
    margin-block-start: 1em;
  }

  .page-voice-name {
    text-align: right;
  }

  .page-voice-illust {
    display: none;
  }

  .page-voice-btn {
    margin-block-start: 64px;
    text-align: center;
  }

  @include mq() {
    .page-voice-item {
      display: grid;
      grid-template-columns: 1fr 126px;
      align-items: center;
      gap: 40px;
      padding-block: 32px;
      padding-inline: 32px;
    }

    .page-voice-title-lv3 {
      font-size: 24px;
    }

    .page-voice-illust {
      display: block;

      img {
        width: 126px;
      }
    }

    .page-voice-btn {
      margin-block-start: 80px;
    }
  }
</style>
