---
import PageTitleLv2 from "../common/PageTitleLv2.astro";
import ReservationForm from "../common/ReservationForm.astro";
---

<section class="trial-lesson-form">
  <div class="trial-lesson-form-container l-container-s">
    <div class="l-section">
      <div class="trial-lesson-form-title-lv2">
        <PageTitleLv2 pageTitle="体験レッスン予約" />
      </div>
      <div class=" l-section-body">
        <div class="trial-lesson-form-content">
          <p class="trial-lesson-form-text">体験レッスンのお申し込みは、以下のフォームに必要事項を入力の上ご送信ください。</p>
          <p class="trial-lesson-form-text">お申し込みを確認後1〜2日以内に、ご入力いただいたメールアドレスに詳細をご連絡させていただきます。</p>
          <div class="trial-lesson-form-reservation-form">
            <ReservationForm />
          </div>
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container-s -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .trial-lesson-form-container {
    @include mq() {
      max-width: calc(800px + 80px * 2);
    }
  }

  .trial-lesson-form-title-lv2 {
    text-align: center;
  }

  .trial-lesson-form-text {
    & + & {
      margin-block-start: 16px;

      @include mq() {
        margin-block-start: 8px;
      }
    }

  }

  .trial-lesson-form-reservation-form {
    margin-block-start: 40px;
  }
</style>
