---
import TopTitleLv2 from "./TopTitleLv2.astro"
import Button from "../common/Button.astro"
---

<section class="top-lesson">
  <div class="l-container">
    <div class="l-section">
      <div class="top-lesson-title-lv2">
        <TopTitleLv2
          title="クラス紹介"
          titleClass="c-top-title-lv2 c-top-title-lv2--white"
          titleImagePath="/assets/images/text/text-section-title-lesson.svg"
          titleImageWidth="165"
          titleImageHeight="46"
        />
      </div>
      <div class="l-section-body">
        <div class="top-lesson-cards">
          <article class="top-lesson-card">
            <h3 class="top-lesson-title-lv3">親子フラ</h3>
            <div class="top-lesson-image">
              <img src="/assets/images/top/pic-top-lesson-01.webp" alt="" loading="lazy" decoding="async" width="680" height="450">
            </div>
            <p class="top-lesson-text">親子で一緒にフラを楽しめるクラス</p>
            <ul class="top-lesson-list">
              <li class="top-lesson-item">3歳以上のお子様と保護者</li>
              <li class="top-lesson-item">親子で楽しむ特別レッスン</li>
            </ul>
          </article>
          <article class="top-lesson-card">
            <h3 class="top-lesson-title-lv3">ケイキクラス</h3>
            <div class="top-lesson-image">
              <img src="/assets/images/top/pic-top-lesson-02.webp" alt="" loading="lazy" decoding="async" width="680" height="450
              ">
            </div>
            <p class="top-lesson-text">子どもの笑顔と成長を育むクラス</p>
            <ul class="top-lesson-list">
              <li class="top-lesson-item">小学生までのお子様</li>
              <li class="top-lesson-item">同年代の子供達同士の一体感</li>
            </ul>
          </article>
          <article class="top-lesson-card">
            <h3 class="top-lesson-title-lv3">ワヒネ・クプナクラス</h3>
            <div class="top-lesson-image">
              <img src="/assets/images/top/pic-top-lesson-03.webp" alt="" loading="lazy" decoding="async" width="680" height="450
              ">
            </div>
            <p class="top-lesson-text">初心者にも優しい大人向けクラス</p>
            <ul class="top-lesson-list">
              <li class="top-lesson-item">初心者歓迎・年齢不問</li>
              <li class="top-lesson-item">お一人お一人に寄り添った指導</li>
            </ul>
          </article>
        </div>
        <div class="top-lesson-btn">
          <Button
          buttonText="クラス紹介の詳細を見る"
          buttonUrl="/lesson"
        />
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-lesson {
    background-image: url(/assets/images/top/bg-top-lesson.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--color-main);
  }

  .top-lesson-cards {
    display: grid;
    gap: 48px;
  }

  .top-lesson-card {
    padding-block: 24px;
    padding-inline: 24px;
    border: 1px solid;
    border-radius: 16px;
    background-color: rgb(255 255 255 / .08);
    backdrop-filter: blur(4px);
    border: 1px solid rgb(255 255 255 / .25);
  }

  .top-lesson-title-lv3 {
    color: var(--color-main);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }

  .top-lesson-image {
    margin-block-start: 16px;

    img {
      max-width: 480px;
      margin-inline: auto;
    }
  }

  .top-lesson-text {
    margin-block-start: 24px;
    font-weight: 700;
  }

  .top-lesson-list {
    display: grid;
    gap: 4px;
    padding: 0;
    margin-block-start: 8px;
  }

  .top-lesson-item {
    display: grid;
    grid-template-columns: 4px 1fr;
    gap: 8px;
    padding-inline-start: 8px;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-block-start: 12px;
      background-color: currentColor;
    }
  }

  .top-lesson-btn {
    margin-block-start: 64px;
    text-align: center;
  }

  @include mq() {
    .top-lesson-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    .top-lesson-title-lv3 {
      font-size: clamp(21px, calc(24 / 1280 * 100vw), 24px);
    }

    .top-lesson-btn {
      margin-block-start: 80px;
    }
  }

  @media screen and (min-width: 1024px) {
    .top-lesson-cards {
      grid-template-columns: repeat(3, 1fr);
      gap: min(48px, calc(48 / 1280 * 100vw));
    }
  }
</style>
