<section class="top-kv">
  <div class="top-kv-content">
    <div class="top-kv-image">
      <div class="splide" role="group" aria-labelledby="carousel-heading">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <picture>
                <source media="(max-width: 767px)" srcset="/assets/images/top/pic-top-kv-01-sp.webp">
                <source media="(min-width: 768px)" srcset="/assets/images/top/pic-top-kv-01-pc.webp">
                <img src="/assets/images/top/pic-top-kv-01-pc.webp" alt="" loading="eager" decoding="async" fetchpriority="high" width="1920" height="1000">
              </picture>
            </li>
            <li class="splide__slide">
              <picture>
                <source media="(max-width: 767px)" srcset="/assets/images/top/pic-top-kv-02-sp.webp">
                <source media="(min-width: 768px)" srcset="/assets/images/top/pic-top-kv-02-pc.webp">
                <img src="/assets/images/top/pic-top-kv-02-pc.webp" alt="" loading="eager" decoding="async" fetchpriority="high" width="1920" height="1000">
              </picture>
            </li>
            <li class="splide__slide">
              <picture>
                <source media="(max-width: 767px)" srcset="/assets/images/top/pic-top-kv-03-sp.webp">
                <source media="(min-width: 768px)" srcset="/assets/images/top/pic-top-kv-03-pc.webp">
                <img src="/assets/images/top/pic-top-kv-03-pc.webp" alt="" loading="eager" decoding="async" fetchpriority="high" width="1920" height="1000">
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="top-kv-decoration">
      <picture>
        <source media="(max-width: 767px)" srcset="/assets/images/top/image-top-kv-leaves-sp.webp">
        <source media="(min-width: 768px)" srcset="/assets/images/top/image-top-kv-leaves-pc.webp">
        <img src="/assets/images/top/image-top-kv-leaves-pc.webp" alt="" loading="eager" decoding="async" fetchpriority="high" width="1040" height="356">
      </picture>
    </div>
    <div class="top-kv-copy">
      <div class="top-kv-copy-content">
        <h1 class="top-kv-main-copy" id="carousel-heading">
          <span>毎日を頑張るあなたへ。</span>
          <span>フラと仲間が、<br>人生をもっと豊かにする。</span>
        </h1>
        <p class="top-kv-sub-copy">子育てや仕事に向き合いながらも、<br>あなたらしい時間を見つけてみませんか。<br>アロヒラニでは、家族のような仲間が待っています。</p>
      </div>
    </div>
  </div>
</section>

<script>
  new Splide(".splide", {
    autoplay: true,
    type: "fade",
    interval: 3500,
    speed: 2000,
    rewind: true,
    arrows: false,
    pagination: false,
  }).mount();
</script>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-kv {
    margin-block-start: 60px;
    background-image: url(/assets/images/top/bg-top-kv-sp.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .top-kv-content {
    padding-block: 72px;
    position: relative;
  }

  .top-kv-image {
    padding-inline-start: calc(20 / var(--width-sp) * 100vw);

    img {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
  }

  .top-kv-decoration {
    position: absolute;
    top:0;
    left: 0;

    img {
      max-width: 390px;
    }
  }

  .top-kv-copy {
    padding-inline-end: calc(20 / var(--width-sp) * 100vw);
    margin-block-start: -24px;
    position: relative;
    z-index: 10;
  }

  .top-kv-copy-content {
    padding-block: 24px;
    padding-inline: calc(20 / var(--width-sp) * 100vw);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--color-bg-base);
    box-shadow: 0 0 20px 0 rgb(30 124 144 / .2);
  }

  .top-kv-main-copy {
    display: grid;
    font-size: min(24px, calc(24 / 375 * 100vw));
    font-weight: 700;
    color: #0078b8;
    line-height: 1.55;
  }

  .top-kv-sub-copy {
    margin-block-start: 16px;
    font-size: 14px;
    letter-spacing: -.02em;
    line-height: 1.65;
  }

  @include mq() {
    .top-kv {
      margin-block-start: 80px;
      background-image: url(/assets/images/top/bg-top-kv-pc.webp);
    }

    .top-kv-content {
      padding-block: 65px;
    }

    .top-kv-image {
      padding-inline-start: calc(480 / var(--width-pc) * 100vw);
    }

    .top-kv-decoration {
      img {
        max-width: 480px;
      }
    }

    .top-kv-copy {
      padding-inline-end: 0;
      margin-block-start: -32px;
    }

    .top-kv-copy-content {
      width: fit-content;
      padding-block: 32px;
      padding-inline: 80px 24px;
    }

    .top-kv-main-copy {
      font-size: 24px;

      br {
        display: none;
      }
    }

    .top-kv-sub-copy {
      margin-block-start: 12px;
      font-size: 16px;
      letter-spacing: normal;
    }
  }

  @media screen and (min-width: 1024px) {
    .top-kv-image {
      padding-inline-start: calc(480 / var(--width-pc) * 100vw);
    }

    .top-kv-decoration {
      img {
        max-width: 520px;
      }
    }

    .top-kv-copy {
      margin-block-start: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .top-kv-copy-content {
      padding-block: min(32px, calc(32 / var(--width-pc) * 100vw));
      padding-inline: min(120px, calc(120 / var(--width-pc) * 100vw)) min(24px, calc(24 / var(--width-pc) * 100vw));
    }

    .top-kv-main-copy {
      font-size: clamp(18px, calc(24 / var(--width-pc) * 100vw), 24px);
    }

    .top-kv-sub-copy {
      font-size: clamp(14px, calc(16 / var(--width-pc) * 100vw), 16px);
    }
  }

  @media screen and (min-width: 1600px) {
    .top-kv-content {
      max-width: calc(1440px + 80px * 2);
      padding-inline: 80px;
      margin-inline: auto;
    }

    .top-kv-image {
      padding-inline-start: 480px;

      img {
        border-radius: 0;
      }
    }

    .top-kv-decoration {
      left: 80px;
    }

    .top-kv-copy-content {
      border-radius: 0;
    }

    .top-kv-copy {
      left: 80px;
    }
  }
</style>
