<section class="top-kv">
  <div class="l-container">
    <div class="top-kv-content">
      <div class="top-kv-copy">
        <h1 class="top-kv-main-copy">見た目だけで終わらない。<br>目的に合わせて、<br>最適なホームページを作ります。</h1>
        <p class="top-kv-sub-copy">コンテンツ・導線・運用まで。<br>成果のために必要なこと、全てに対応します。</p>
      </div>
      <div class="top-kv-image">
        <svg viewBox="0 0 420 289" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2612_4435" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="420" height="289">
        <rect width="420" height="288.685" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_2612_4435)">
        <path d="M240.994 198.227L230.831 214.509L210.506 214.509L200.343 198.227L210.506 181.945L230.831 181.945L240.994 198.227Z" fill="#7AC6CC"/>
        <path d="M275.547 216.518L265.384 232.8L245.058 232.8L234.896 216.518L245.058 200.236L265.384 200.236L275.547 216.518Z" fill="#7AC6CC"/>
        <path d="M310.098 198.227L299.935 214.509L279.609 214.509L269.446 198.227L279.609 181.945L299.935 181.945L310.098 198.227Z" fill="#7AC6CC"/>
        <path d="M240.994 235.322L230.831 251.604L210.506 251.604L200.343 235.322L210.506 219.039L230.831 219.039L240.994 235.322Z" fill="#7AC6CC"/>
        <path d="M275.547 254.123L265.384 270.406L245.058 270.406L234.896 254.123L245.058 237.841L265.384 237.841L275.547 254.123Z" fill="#7AC6CC"/>
        <path d="M310.098 235.322L299.935 251.604L279.609 251.604L269.446 235.322L279.609 219.039L299.935 219.039L310.098 235.322Z" fill="#7AC6CC"/>
        <path d="M240.994 272.412L230.831 288.695L210.506 288.695L200.343 272.412L210.506 256.13L230.831 256.13L240.994 272.412Z" fill="#7AC6CC"/>
        <path d="M310.098 272.412L299.935 288.695L279.609 288.695L269.446 272.412L279.609 256.13L299.935 256.13L310.098 272.412Z" fill="#7AC6CC"/>
        <mask id="mask1_2612_4435" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="37" y="132" width="157" height="134">
        <path d="M115.383 265.476L193.227 132.527H37.5391L115.383 265.476Z" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask1_2612_4435)">
        <path d="M115.369 265.478L193.213 132.529H37.525L115.369 265.478Z" fill="#DDDDDD"/>
        <rect x="25.4824" y="163.464" width="183.118" height="60.4123" fill="#54A2A9"/>
        <rect x="25.4824" y="192.31" width="183.118" height="31.5649" fill="#21757C"/>
        </g>
        <line x1="189.322" y1="90.667" x2="386.884" y2="90.667" stroke="#DDDDDD" stroke-width="3"/>
        <line x1="289.594" y1="18.084" x2="289.594" y2="166.257" stroke="#DDDDDD" stroke-width="3"/>
        <ellipse cx="358.061" cy="37.0135" rx="16.4635" ry="16.4637" fill="#21757C"/>
        <ellipse cx="256.828" cy="131.685" rx="12.3476" ry="12.3478" fill="#DDDDDD"/>
        <ellipse cx="341.598" cy="119.339" rx="12.3476" ry="12.3478" fill="#DDDDDD"/>
        <ellipse cx="321.305" cy="69.6642" rx="12.3476" ry="12.3478" fill="#DDDDDD"/>
        <ellipse cx="232.133" cy="41.1271" rx="12.3476" ry="12.3478" fill="#DDDDDD"/>
        <path d="M54.8779 73.9609C84.6341 73.9609 108.757 98.0833 108.757 127.84C108.757 157.596 84.6341 181.719 54.8779 181.719C25.1219 181.719 1 157.596 1 127.84C1 98.0835 25.1219 73.9611 54.8779 73.9609Z" stroke="#7AC6CC" stroke-width="2"/>
        <path d="M108.448 79.2573L73.2924 89.9998L82.5865 53.1321L108.448 79.2573Z" fill="#DDDDDD"/>
        <mask id="mask2_2612_4435" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="340" y="158" width="80" height="81">
        <ellipse cx="39.9384" cy="39.9387" rx="39.9384" ry="39.9387" transform="matrix(0.866024 0.500004 -0.499996 0.866027 365.371 143.955)" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask2_2612_4435)">
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 376.543 149.851)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 341.268 133.409)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 411.822 166.293)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 394.186 158.073)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 358.906 141.632)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 429.459 174.514)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 373.604 148.479)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 408.885 164.922)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 391.242 156.702)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 355.965 140.262)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 426.523 173.142)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 379.488 151.22)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 344.209 134.78)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 414.762 167.662)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 397.123 159.441)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 361.846 143.002)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 432.4 175.883)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 382.422 152.59)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 347.152 136.151)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 417.703 169.029)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 400.064 160.812)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 364.787 144.372)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 435.338 177.253)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 385.365 153.963)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 350.088 137.521)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 420.643 170.402)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 403.004 162.183)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 367.727 145.742)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 438.281 178.624)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 388.305 155.331)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 353.029 138.891)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 423.584 171.771)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 405.945 163.553)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 370.666 147.111)" stroke="#7AC6CC"/>
        <line y1="-0.5" x2="110.274" y2="-0.5" transform="matrix(-0.422436 0.906393 -0.906389 -0.422443 441.221 179.992)" stroke="#7AC6CC"/>
        </g>
        <path d="M154.258 57.2998L119.147 57.2998L101.662 29.3076L119.146 1.31738L154.259 1.31738L171.744 29.3076L154.258 57.2998Z" stroke="#7AC6CC" stroke-width="2"/>
        </g>
        </svg>
      </div>
    </div>
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-kv {
    padding-block: 80px 120px;
    margin-block-start: 60px;
    background-image: var(--gradient-kv);
  }

  .top-kv-content {
    position: relative;
  }

  .top-kv-copy {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: fit-content;
    font-weight: 700;
    position: relative;
    z-index: 10;
  }

  .top-kv-main-copy {
    font-size: min(24px, calc(20px / var(--width-sp) * 100vw));
    letter-spacing: .03em;
    line-height: 1.55;
  }

  .top-kv-sub-copy {
    font-size: min(18px, calc(16px / var(--width-sp) * 100vw));
    line-height: 1.6;
  }

  .top-kv-image {
    width: fit-content;
    margin-inline: auto;
    opacity: .18;
    position: absolute;
    top: -24px;
    right: 0;
    left: -4px;
    z-index: 1;

    svg {
      width: clamp(342px, calc(342px / var(--width-sp) * 100vw), 420px);
    }
  }

  @include mq() {
    .top-kv {
      margin-block-start: 80px;
    }

    .top-kv-content {
      display: flex;
      justify-content: space-between;
    }

    .top-kv-copy {
      gap: min(56px, calc(56px / 1280px * 100vw));
    }

    .top-kv-main-copy {
      font-size: min(38px, calc(38px / 1280px * 100vw));
      line-height: 1.5;
    }

    .top-kv-sub-copy {
      color: #555;
      font-size: clamp(15px, calc(22px / 1280px * 100vw), 22px);
      letter-spacing: .05em;
      line-height: 1.5;
    }

    .top-kv-image {
      margin-inline: 0;
      opacity: 1;
      position: static;

      svg {
        width: min(420px, calc(420px / 1280px * 100vw));
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .top-kv-main-copy {
      letter-spacing: .05em;
    }
  }
</style>
