<section class="top-kv">
  <div class="l-container">
    <div class="top-kv-content">
      ここにファーストビューが入ります。
    </div>
  </div><!-- /.l-container -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-kv {
    padding-block: calc(100vh - 60px - 99.9%);
    margin-block-start: 60px;
    background-color: var(--color-bg-skyblue);
  }

  .top-kv-content {
    position: relative;
  }

  .top-kv-copy {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: fit-content;
    font-weight: 700;
    position: relative;
    z-index: 10;
  }

  .top-kv-main-copy {
    font-size: min(24px, calc(20px / var(--width-sp) * 100vw));
    letter-spacing: .03em;
    line-height: 1.55;
  }

  .top-kv-sub-copy {
    font-size: min(18px, calc(16px / var(--width-sp) * 100vw));
    line-height: 1.6;
  }

  .top-kv-image {
    width: fit-content;
    margin-inline: auto;
    opacity: .18;
    position: absolute;
    top: -24px;
    right: 0;
    left: -4px;
    z-index: 1;

    svg {
      width: clamp(342px, calc(342px / var(--width-sp) * 100vw), 420px);
    }
  }

  @include mq() {
    .top-kv {
      padding-block: 250px;
      margin-block-start: 80px;
    }

    .top-kv-content {
      display: flex;
      justify-content: space-between;
    }

    .top-kv-copy {
      gap: min(56px, calc(56px / 1280px * 100vw));
    }

    .top-kv-main-copy {
      font-size: min(38px, calc(38px / 1280px * 100vw));
      line-height: 1.5;
    }

    .top-kv-sub-copy {
      color: #555;
      font-size: clamp(15px, calc(22px / 1280px * 100vw), 22px);
      letter-spacing: .05em;
      line-height: 1.5;
    }

    .top-kv-image {
      margin-inline: 0;
      opacity: 1;
      position: static;

      svg {
        width: min(420px, calc(420px / 1280px * 100vw));
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .top-kv-main-copy {
      letter-spacing: .05em;
    }
  }
</style>
