---
import TopTitleLv2 from "./TopTitleLv2.astro";
import Button from "../common/Button.astro";
---

<section class="top-voice">
  <div class="l-container-s">
    <div class="l-section">
      <div class="top-voice-title-lv2">
        <TopTitleLv2
          title="生徒様の声"
          titleClass="c-top-title-lv2"
          titleImagePath="/assets/images/text/text-section-title-voice.svg"
          titleImageWidth="125"
          titleImageHeight="46"
        />
      </div>
      <div class="l-section-body">
        <ul class="top-voice-list">
          <li class="top-voice-item">
            <div class="top-voice-content">
              <h3 class="top-voice-title-lv3">人生を豊かにする贈り物をたくさんいただきました</h3>
              <div class="top-voice-description">
                <p class="top-voice-text">私は、アロヒラニで約10年レッスンを受けています。<br>アロヒラニのフラレッスンから人生を豊かにする贈り物をたくさんいただきました。</p>
                <p class="top-voice-text">アロハの精神、ハワイ語の意味、そしてその背景にある文化も教えてもらっています。<br>年に何度か発表する機会があり、それを目標に頑張ることができています。</p>
                <p class="top-voice-text">たくさんのことを学べる素敵な教室です。</p>
                <span class="top-voice-name">藤井幸子さん（ワヒネ・クプナクラス）</span>
              </div>
            </div>
            <div class="top-voice-illust">
              <img src="/assets/images/voice/illust-voice-08.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
            </div>
          </li>
          <li class="top-voice-item">
            <div class="top-voice-content">
              <h3 class="top-voice-title-lv3">アロヒラニのレッスンは、私にとって癒しの時間</h3>
              <div class="top-voice-description">
                <p class="top-voice-text">フラダンスを始めてから、毎日がワクワクするようになりました。<br>ハワイの音楽 に合わせて皆で踊ると、自然と笑顔になってしまいます。</p>
                <p class="top-voice-text">先生がゆっくり丁寧に教えてくださるので、初心者の私でも少しずつ踊れるようになりました。<br>そして、教室の皆さんがとても優しく、あたたかい空気に包まれながら毎回レッスンが進みます。</p>
                <p class="top-voice-text">アロヒラニのレッスンは日常の忙しさを忘れられる、私にとって癒しの時間です。<br>これからも大切に続けていきたいです。</p>
                <span class="top-voice-name">K.M.さん（ワヒネ・クプナクラス）</span>
              </div>
            </div>
            <div class="top-voice-illust">
              <img src="/assets/images/voice/illust-voice-07.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
            </div>
          </li>
          <li class="top-voice-item">
            <div class="top-voice-content">
              <h3 class="top-voice-title-lv3">発表の機会があるから楽しく続けられる</h3>
              <div class="top-voice-description">
                <p class="top-voice-text">4歳から通っています。明るく和気あいあいとした雰囲気が気に入っています。<br>近隣のお祭りやフェスティバルのステージに立てる機会があり、モチベーションを上げながら頑張っています。</p>
                <span class="top-voice-name">A.Y.さん（ケイキクラス）</span>
              </div>
            </div>
            <div class="top-voice-illust">
              <img src="/assets/images/voice/illust-voice-05.webp" alt="" loading="lazy" decoding="async" width="252" height="268">
            </div>
          </li>
        </ul>
        <div class="top-voice-btn">
          <Button
          buttonText="生徒様の声をもっと見る"
          buttonUrl="/voice"
        />
        </div>
      </div><!-- /.l-section-body -->
    </div><!-- /.l-section -->
  </div><!-- /.l-container-s -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-voice {
    background-image: url(/assets/images/top/bg-top-voice.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .top-voice-list {
    display: grid;
    gap: 32px;
    padding: 0;
  }

  .top-voice-item {
    padding-block: 24px;
    padding-inline: 24px;
    border-radius: 10px;
    border: 1px solid var(--color-brown);
  }

  .top-voice-title-lv3 {
    color: var(--color-brown);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  .top-voice-description {
    display: grid;
    gap: 1em;
    margin-block-start: 1em;
  }

  .top-voice-name {
    text-align: right;
  }

  .top-voice-illust {
    display: none;
  }

  .top-voice-btn {
    margin-block-start: 64px;
    text-align: center;
  }

  @include mq() {
    .top-voice-item {
      display: grid;
      grid-template-columns: 1fr 126px;
      align-items: center;
      gap: 40px;
      padding-block: 32px;
      padding-inline: 32px;
    }

    .top-voice-title-lv3 {
      font-size: 24px;
    }

    .top-voice-illust {
      display: block;

      img {
        width: 126px;
      }
    }

    .top-voice-btn {
      margin-block-start: 80px;
    }
  }
</style>
