---
const { pageTitle, pageTitleImagePath, pageTitleImageWidth, pageTitleImageHeight } = Astro.props;
---

<div class="c-page-kv">
  <div class="c-page-kv-bg">
    <img src="/assets/images/global/bg-page-kv.webp" alt="" loading="eager" decoding="async" width="5120" height="400">
  </div>
  <div class="c-page-kv-content">
    <div class="l-container">
      <div class="c-page-kv-heading">
        <h1 class="c-page-kv-title-lv1">{pageTitle}</h1>
        <div class="c-page-kv-image">
          <img src={pageTitleImagePath} alt="" loading="eager" decoding="async" width={pageTitleImageWidth} height={pageTitleImageHeight}>
        </div>
      </div>
    </div><!-- /.l-container -->
  </div>
</div>

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-page-kv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px;
    align-items: center;
    margin-block-start: 60px;
  }

  .c-page-kv-bg {
    grid-column: 1 / -1;
    grid-row: 1;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: right center;
    }
  }

  .c-page-kv-content {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .c-page-kv-heading {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
    color: var(--color-main);
  }

  .c-page-kv-title-lv1 {
    font-size: 14px;
    font-weight: 400;
  }

  .c-page-kv-image {
    img {
      width: 85%;
      margin-inline: auto;
    }
  }

  @include mq() {
    .c-page-kv {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 300px;
      align-items: center;
      margin-block-start: 80px;
    }

    .c-page-kv-bg {
      img {
        height: 300px;
      }
    }

    .c-page-kv-heading {
      gap: 12px;
    }

    .c-page-kv-title-lv1 {
      font-size: 16px;
    }

    .c-page-kv-image {
      img {
        width: 100%;
      }
    }
  }
</style>
