---
const { buttonClass, buttonUrl, buttonText, buttonAriaLabel, buttonTarget } = Astro.props;
---


<a href={buttonUrl} target={buttonTarget} rel={buttonTarget === "_blank" ? "noopener noreferrer" : undefined} aria-label={buttonAriaLabel} class={buttonClass || "c-button"}>{buttonText}</a>

<style is:global lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-button {
    display: inline-block;
    padding-block: 16px;
    padding-inline: 20px calc(20px + 18px + 12px);
    border-radius: 100px;
    background-color: var(--color-main);
    color: var(--color-white);
    line-height: 1.5;
    position: relative;

    &::before,
    &::after {
      content: "";
      margin-block: auto;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &::before {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: var(--color-white);
      right: 20px;
    }

    &::after {
      width: 6px;
      height: 10px;
      background-image: url(/assets/images/global/icon-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      right: calc(20px + 5px);
    }

    &--cta {
      padding-block: 24px;
      padding-inline: 32px calc(32px + 22px + 12px);
      background-color: var(--color-orange);
      font-size: 18px;
      font-weight: 700;
      line-height: 1;

      &::before {
        width: 22px;
        height: 22px;
        right: 24px;
      }

      &::after {
        width: 8px;
        height: 12px;
        background-image: url(/assets/images/global/icon-arrow-orange.svg);
        right: calc(24px + 6px);
      }
    }
  }

  @include mq() {
    .c-button {
      padding-inline: 30px calc(24px + 22px + 24px);

      &::before {
        width: 22px;
        height: 22px;
        right: 24px;
      }

      &::after {
        width: 7px;
        height: 12px;
        right: calc(24px + 7px);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .c-button {
      &--cta {
        padding-inline: 30px calc(30px + 22px + 24px);
        font-size: clamp(16px, calc(18px / 1280px * 100vw), 18px);
      }
    }
  }

  @media (any-hover: hover) {
    .c-button {
      transition: filter .5s ease;

      &:hover {
        filter: brightness(85%) contrast(115%);
      }
    }
  }
</style>
